<div class="overlay" id="overlay1">

</div>

<div class="wrapper fadeInDown"  id="hiddenDiv1" style="width:auto" >
      <div id="formContent" >
        <div id="login-form" style="background: #fff;">


          <!-- Icon -->
        <div class="fadeIn first" style="visibility:hidden" >
          <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
        </div>
        <!-- Register Form -->
        <form action ="/register" method="post" id ="registration">
          <input type="text" id="login" class="fadeIn second" name= "login" placeholder="Tài khoản">
          <input type="password" id="password" class="fadeIn third" name="password" placeholder="Mật khẩu">
          <input type="email" id="email" class="fadeIn forth" name="email" placeholder="Email">
          <input type="submit" id='sumbit'class="fadeIn fourth" style="top:10px"value="Đăng ký">
        </form>


        <!-- Error Message -->
        <div id="content3" style="color: red; display: block;">
        </div>


        <!-- Remind Passowrd -->
        <div id="formFooter">
          <p>By registering, you agree to our Terms & Conditions and that you have read our Privacy Policy.</p>
        </div>
        </div>
      </div>
    </div>


 <script>
        $(document).ready(function() {
            $('#registration').submit(function(e) {
                e.preventDefault(); // Prevent the default form submission

                // Serialize the form data
                var formData = $(this).serialize();

                // Make an AJAX request to register the user
                $.ajax({
                    type: 'POST',
                    url: '/register',
                    data: formData,
                    success: function(response) {
                        // Check for success or error
                        if (response.success) {
                            // Registration successful, display a success message
                            $('#content3').html('<p>' + response.message + '</p>').css('color', 'green');
                        } else {
                            // Registration failed, display an error message
                            $('#content3').html('<p>' + response.message + '</p>').css('color', 'red');
                        }
                    }
                });
            });
        });
    </script>
</body>
</html>
