  <section id="find" class="home-footer">
          <div class="home-content12">
            <div class="home-main2">
              <div class="home-branding">
                <div class="home-heading10">
                  <img alt="image" src="{{ url_for('static', filename='public/logo.svg') }}" class="home-image6" />
                  <p class="home-caption10" >
                    <p style="color:white">
                    190 Pasteur, Phường Võ Thị Sáu, Quận 3, TPHCM
                    </p>
                  <p style="color:white">
                    190-192 Trần Quý, Phường 6, Quận 11, Tp. Hồ Chí Minh
                  </p>
                    <p style="color:white">

                     54 Phạm Hồng Thái, Bến Thành, Quận 1, Tp. Hồ Chí Minh
                  </p>
                  <p style="color:white">
                     164 Lê Thánh Tôn, Phường Bến Thành, Quận 1, TP. Hồ Chí Minh
                    </p>
                  </p>
                </div>
              </div>

            </div>
            <span class="home-copyright">
              © 2023 Bản quyền
            </span>
          </div>
        </section>