
<div class="row p-2 bg-white border rounded mt-2">
  <div class="col-md-3 mt-1">
    <img
      class="img-fluid img-responsive rounded product-image"
      src="{{ dia_diem['Anh'] }}"
    />
  </div>
  <div class="col-md-6 mt-1">
    <h5>{{ dia_diem['Ten'] }}</h5>
    <div class="d-flex flex-row">
      <span>{{ dia_diem['SoLuong'] }} người</span>
    </div>

    <p class="text-justify text-truncate para mb-0">
      {{ dia_diem['Mota'] }}<br /><br />
    </p>
  </div>
  <div
    class="align-items-center align-content-center col-md-3 border-left mt-1"
  >
    <div class="d-flex flex-row align-items-center">
      <h4 class="mr-1">${{ dia_diem['Gia'] }}</h4>
    </div>
    <h6 class="text-success">KH : {{ dia_diem['KhoiHanh'].strftime('%Y-%m-%d') }}</h6>
    <h6 class="text-success">KT : {{ dia_diem['KetThuc'].strftime('%Y-%m-%d') }}</h6>
        <div class="d-flex flex-column mt-4" style="padding-bottom:5px">
            <button id="detailsButton" class="btn btn-primary btn-sm" style="padding-bottom:5px" onclick="selectTour({{ dia_diem['ID'] }})">Chi tiết Tour</button>
        </div>
  </div>
</div>



